* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgb(58, 125, 250);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

ul {
  list-style: square;
  margin: 1rem 2rem;
}

.importante {
  font-weight: bold;
  text-decoration: underline;
}

section h2 {
  color: rgb(58, 125, 250);
  padding: 1rem;
}

table {
  margin: 1rem;
}

table thead {
  background-color: rgb(58, 125, 250);
  color: white;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(180, 204, 248);
}

table tbody tr:nth-child(even) {
  background-color: rgb(137, 179, 255);
}

th,
td {
  padding: 0.75rem;
}

th {
  background-color: rgba(49, 121, 255, 0.4);
}

#descanso {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
