main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 0 5px black;
}

main > section {
  text-align: center;
  padding: 1rem;
  max-width: 30rem;
  max-height: 25rem;
}

main > section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

main > section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main > section p {
  margin-bottom: 0.5rem;
}

main > section a {
  text-decoration: none;
}
